body,html{
  height: 100%;
  width: 100%;
}
div#root{
  height: 100%;
  width: 100%;
}

.page-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;;
  background-color: #9cc4e4;
  width: 100%;
  min-height: 100vh;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: auto;
  align-items: center;
  margin-left: 3rem;
}

.card {
  background-color: #83af9b;
  border: 0.7 solid #ddd;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: calc(30.13% - 4vw);
  margin: 0.6vw; 
}

.card-image {
  border-radius: 3rem;
  width: 9vw;
  object-fit: cover;
  background-color: #83af9b;
  margin-top: 0.5rem;
}

.card-info {
  padding: 1rem;
}

.card-info h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.page-container3 h1{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.card-info p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
