body,
html {
  height: 100%;
  width: 100%;
}

div#root {
  height: 100%;
  width: 100%;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9cc4e4;
  width: 100%;
  padding: 20px;
  min-height: 100%;
}

.paciente-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.edit-button,
.tests-button,
.back-button {
  margin-right: 20px;
  font-size: 1.5vw;
  padding: 1vw 2vw;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.delete-button {
  margin-top: 1rem;
  font-size: 2rem;
  background-color: #9cc4e4;
}
.edit-button {
  background-color: #2196f3;
}

.tests-button {
  background-color: #4caf50;
}

.back-button {
  background-color: #2f5bcc;
}

.infoQrcode {
  display: flex;
}

.informacoes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1vw;
  margin-right: 5vw;
  background-color: #83af9b;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 30vh;
}

.informacoes-container p {
  font-size: 1.5vw;
}

.qrcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qrcode-container a {
  display: inline-block;
  padding: 12px 20px;
  background-color: #056673;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  width: 12vw;
  margin: 0.4rem;
}
.qrcode-container a:hover {
  background-color: #009688;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .informacoes-container {
    margin-right: 0;
    margin-bottom: 5vh;
  }

  .infoQrcode {
    flex-direction: column;
  }

  .edit-button,
  .delete-button,
  .tests-button,
  .back-button {
    margin-right: 10px;
    font-size: 3vw;
    padding: 2vw 4vw;
  }

  .informacoes-container p {
    font-size: 3vw;
  }

  .qrcode-container a {
    margin-top: 5vh;
    font-size: 4vw;
  }
}
